{{#if addNewPost}}
<div id="new-post-form" class="well">
  <form>
    <div  class="form-group">
      <label for="type">Title</label>
      {{input class="form-control" value=title id="title"}}
    </div>
    <div  class="form-group">
      <label for="type">Teaser</label>
      {{input class="form-control" value=teaser id="teaser"}}
    </div>
    <div  class="form-group">
      <label for="type">Body</label>
      {{input class="form-control" value=body id="body"}}
    </div>
    <div  class="form-group">
      <label for="owner">Owner</label>
      {{input class="form-control" value=owner id="owner"}}
    </div>
    <div  class="form-group">
      <label for="image">Image URL</label>
      {{input class="form-control" value=image id="image"}}
    </div>
       <button class="btn btn-success"{{action 'savePost1'}}>Save</button>
  </form>
</div>
{{else}}
<button class="btn btn-success"{{action 'postFormShow'}}>New Post</button>

{{/if}}
